# python
__pycache__/
*.pyc
*.pyo
*.pyd

# local envs
.venv*/
.tools/

# build outputs
build/
dist/
installer/build/
installer/dist/
updater/build/
updater/dist/
releases/

# binaries
*.exe
*.dll
*.pak

# pyinstaller
*.spec

# local runtime files
installdata.json
launchersettings.json
*.log
m1ppupdatelog-*.txt

# local tooling
.omx/
